<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 height">
        <div class="card h-100">
          <div class="card-header">
            <h5>トーク一覧</h5>
          </div>
          <ul class="list-group">
            <%= render @talks %>
          </ul>
        </div>
      </div>
      <div class="col-6 height">
        <div class="card h-100">
          <div class="card-header">
            <h5>トーク</h5>
          </div>
          <div class="card-body board">
          </div>
          <div class="card-footer">
            <form>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Type your message here" disabled>
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-success" disabled>送信</button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-3 height">
        <div class="card h-100">
          <div class="card-header">
            <h5>ユーザー</h5>
          </div>
          <ul class="list-group">
            <%= render @users %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
